@import "/styles/partials/base/base";

.cardImage {


    .image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0.25rem;

    }
}